<style>
  .{
  
    margin: 0;
    padding: 0;
  }
  
.slideshow-container {
  width: 400px;  /* apne hisaab se size badal sakte ho */
  height: 250px;
  margin: 20px auto; /* center karne ke liye */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  position: relative;
}

.slideshow-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow-container img.active {
  opacity: 1;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}


.main{
    width: 100%;
    background-image: url(kumar.jpg);
    background-position: center;
    background-size:cover;
    height: 1000px;

    
}
.navbar{
    width: 1200px;
    height: 75;
    margin: auto;


}
.icon{
width: 200px;
float: left;
height: 70px;

}
.logo{
color: rgb(228, 73, 17);
font-size: 35px;
font-family: Arial;
padding-left: 20px;
float: left;
padding-top: 10px;
transition: 1s ease-in-out;


}
.menu{
width: 700px;
float: left;
height: 70px;
}

ul{
float: left;
display: flex;
justify-content: center;
align-items: center;


}
ul li{
list-style: none;
margin-left: 62px;
margin-top: 27px;
font-size: 14px;

}
ul li a{
text-decoration: none;
color: rgb(0, 0, 0);
font-family: Arial;
font-weight: bold;
transition: 0.4s ease-in-out;


}

.search{
width: 330px;
float: left;
margin-left: 270px;

}

ul li a:hover{
  color: orangered;

}

.search{
width: 330px;
float: left;
margin-left: 27px;

}
.srch{
font-family: 'Times New Roman';
width: 200px;
background: transparent;
height: 1px solid orangered;
margin-top: 13px;
color: rgb(172, 25, 25);
border-right: none;
font-size: 16px;
float: left;
padding: 10px;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;

}
.btn{
width: 100px;
height: 40px;
background: rgb(211, 55, 55);
border: 2px solid rgb(0, 0, 0);
margin-top: 13px;
color: rgb(138, 214, 16);
font-size: 15px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;

}

.btn :focus{
outline: none;

}
.srch :focus{
  outline: none;
}

.content{
width: 1200px;
height: auto;
margin: auto;
color: rgb(0, 0, 0);
position: relative;


}

.content.par{
padding-left: 20px;
padding-bottom: 20px;
font-family: Arial;
letter-spacing: 1.2px;
line-height: 30px;


}

.content h1{
font-family: 'Times New Roman';
font-size: 50px;
padding-left: 25px;
margin-top: 9%;
letter-spacing: 2px;

}

.content .cn{
width: 150px;
height: 40px;
background: rgb(255, 72, 0);
border: none;
margin-bottom: 40px;
margin-left: 20px;
font-size: 20px;
border-radius: 30px;
cursor: pointer;
transition: .4s;

}

.content .cn a{
text-decoration: none;
color: rgb(102, 255, 0);
transition: 0.3s;


}

.cn:hover{
background-color: white;

}

.content span{
color: orangered;
font-size: 60px;

}
  

  
</style>